<footer>
    <div class="f-info">
        <div class="f-info-social">
          <a href=""><i class="fa-brands fa-square-facebook"></i></a>  
            <a href="https://www.instagram.com/tushar_saini__99/?__pwa=1"><i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.youtube.com/@endingmemes8194"><i class="fa-brands fa-youtube"></i></a> 

        </div>
        
        <div>Wanderlust Private Limited</div>
        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>